replicaCount: 2

image: wwppk/myapp:v3
#  repository:

service:
  type: NodePort
  port: 9000

postgresql:
  enabled: true
  postgresqlUsername: myuser
  postgresqlPassword: passwd
  postgresqlDatabase: myapp
  service:
    port: "5432"

externalPostgresql:
  postgresqlHost: "postgres"

metrics:
  serviceMonitor:
    enabled: true
